@yellow: #fffa19;
@red: #d91818;
@green: #334731;

.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

* {
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-color: @yellow;
    color: @green;
    .margenes(50px, 0px);
}

.main {
    padding: 15px 0;
}

.main .land {
    width: 100%;
}

.card-hotel {
    flex: 1 200px;
    text-align: center;
    .margenes(10px, 0px);
}

.card-hotel h5 {
    font-weight: bold;
}

.card-hotel img {
    max-width: 200px;
    width: 100%;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.reserva-icon {
    padding-right: 10px;
}

footer {
    background-color: @yellow;
    padding: 15px 10px 0 10px;
    .margenes(10px, 0px);
}

footer .redes-sociales {
    text-align: left;
}

footer .direccion {
    text-align: center;
}

footer .navegacion {
    text-align: right;
}

.footer-address-icon {
    padding-right: 10px;
}