* {
  padding: 0;
  margin: 0; }

.jumbotron {
  background-color: #fffa20;
  color: #334731;
  margin-top: 50px;
  margin-bottom: 0px; }

.main {
  padding: 15px 0; }

.main .land {
  width: 100%; }

.card-hotel {
  flex: 1 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel h5 {
  font-weight: bold; }

.card-hotel img {
  max-width: 200px;
  width: 100%; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.reserva-icon {
  padding-right: 10px; }

footer {
  background-color: #fffa20;
  padding: 15px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

footer .redes-sociales {
  text-align: left; }

footer .direccion {
  text-align: center; }

footer .navegacion {
  text-align: right; }

.footer-address-icon {
  padding-right: 10px; }
