* {
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-color: yellow;
    color: blue;
    margin-top: 50px;
}

.main {
    padding: 15px 0;
}

.main .land {
    width: 100%;
}



.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    text-align: center;
}

.card-hotel h5 {
    font-weight: bold;
}

.card-hotel img {
    max-width: 200px;
    width: 100%;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.reserva-icon {
    padding-right: 10px;
}

footer {
    background-color: yellow;
    padding: 15px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

footer .redes-sociales {
    text-align: left;
}

footer .direccion {
    text-align: center;
}

footer .navegacion {
    text-align: right;
}

.footer-address-icon {
    padding-right: 10px;
}
